.card{
    font-family: 'Inter';
    font-style: normal;
    position: relative;
    width: 650px;
    height: 95px;    
    border-radius: 4px;
}
.available{    
    position: absolute;
    width: 13px;
    height: 13px;
    left: 10px;
    top: 12px;
    z-index: 100;
    
    border-radius: 10px;
}
.card-title{    
    padding-top: 5px; 
    position: absolute;        
    left: 88px;
    top: calc(45% - 52px/2);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.card-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #B1B9DB;
}
.status-container {
    position: absolute;
    left: 88px;
    top: calc(75% - 39px/2);
    padding: 0px 8px;
    width: fit-content;
    height: 24px;
    border: 1px solid #B1B9DB;
    border-radius: 20px;
}
.Details-Button{
    padding: 10px;
}
.Button{
    left: 5px;
    width: 95px;
    height: 40px;
    background: #2E57FA;
}